* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;       
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.container { width: 100vw; }

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.upper { 
  color: #E4D192;
  font-weight: 500;
  text-transform: uppercase;
}

.banner, .client  {
  transition: opacity 1s ease-in-out;
  opacity: .3;
}

svg {
  width: 60%;
  height: calc(100vh - 0.83em);
  position: fixed;
  top: 0.83em;
  left: 50%;
  font-size: 9rem;
  transform: translate(-50%, 0);
  visibility: hidden;
}

.heading {
  font-size: 9rem;
  font-weight: 200;
  font-family: 'Noto Serif JP', serif;
}

.info {
  color: #F9F5EB;
  font-size: 2rem;
  font-weight: 300;
}

.banner-info { font-size: 3rem; }

.testimonial-info {
  color: #2C3639;
  font-size: 2rem;
  font-weight: 300;

}

.client:last-child { padding-bottom: 200px; }
.reveal { opacity: 1; }

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
}

.preloader img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}

.preloader.display-none { display: none; }